# "실전투자" 혹은 "모의투자"(기본값)
KIS_ENVIRONMENT=모의투자

# 실전투자를 위한 설정
KIS_APP_KEY=PSANh2p1FZMdQBBNVsCdx***********
KIS_APP_SECRET=Ffk9VvnB43w6QjxZS/hDd***********
KIS_ACCOUNT=72043966
KIS_ACCOUNT_PROD=01

# 모의투자를 위한 설정
KIS_APP_KEY_VTS=PSZWxUzqkaPnUQ6rJ960***********
KIS_APP_SECRET_VTS=DLfQ8cE2FyMUvwam***********
KIS_ACCOUNT_VTS=50156240
KIS_ACCOUNT_PROD_VTS=01

# 매매 설정
RISK_PER_TRADE=0.01
MAX_POSITIONS=3
STOP_LOSS_PCT=0.02
TAKE_PROFIT_PCT=0.04